.department-section {
  max-width: 800px;
  margin: 10px auto;
  padding: 20px;
  background: var(--color-card);
  border-radius: 10px;
  color: var(--text-color);
}

.department-section p {
  color: var(--text-color);
}

.filter-options {
  margin-bottom: 20px;
}

.filter-options select {
  width: 100%; 
  padding: 8px;
  font-size: 16px;
  background: var(--color-card);
  border-radius: 10px;
  border: 1px solid var(--color-boder);
  color: var(--text-color);
}

.department-list {
  list-style-type: none;
  padding: 0;
}

.department-list li {
  margin-bottom: 10px;
}

.department-list li button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.department-list li button:hover {
  background-color: #0056b3;
}

.department-details {
  margin-top: 20px;
  border: 1px solid var(--color-boder);
  padding: 20px;
}

.department-details h3 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  background: var(--color-card);
  border: 1px solid var(--color-boder);
}

.form-group textarea {
  height: 100px;
}

.btn-enviar[type="submit"] {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.btn-enviar[type="submit"]:hover {
  background-color: #218838;
}

/* Media Queries */
@media (max-width: 768px) {
  .department-section {
    padding: 10px;
  }

  .filter-options select {
    font-size: 14px;
    padding: 6px;
  }

  .department-list li button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .department-details {
    padding: 15px;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    font-size: 14px;
    padding: 6px;
  }

  .btn-enviar[type="submit"] {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .department-section {
    padding: 5px;
  }

  .filter-options select {
    font-size: 12px;
    padding: 4px;
  }

  .department-list li button {
    font-size: 12px;
    padding: 6px 12px;
  }

  .department-details {
    padding: 10px;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    font-size: 12px;
    padding: 4px;
  }

  .btn-enviar[type="submit"] {
    font-size: 12px;
    padding: 6px 12px;
  }
}